html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body {
    background: url('../../image/bg-login.jpg');
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    min-height: 100px;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
  .login {
    padding: 20px 75px;
    background-color: #ffffff;
    flex-grow: 1;
    width: 100%;
    height: 700px;
    min-height: 300px;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
  }
  .login-heading {
    font-size: 40px;
    font-weight: bold;
    color: #607ae4;
    text-align: center;
    margin-bottom: 35px;
  }
  .login-social {
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: 0;
    background-color: #627ef0;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
  }
  .login-social-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c6ff4;
    font-size: 30px;
  }
  .login-social-text {
    display: block;
    margin: 0 auto;
  }
  .login-or {
    text-align: center;
    font-size: 16px;
    color: #999;
    margin: 10px auto;
    position: relative;
  }
  .login-or span {
    display: inline-block;
    padding: 2px 30px;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
  }
  .login-or:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .login-label {
    font-size: 16px;
    color: #63676b;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .login-input {
    display: block;
    width: 100%;
    height: 2px;
    padding: 25px;
    border-radius: 14px;
    background-color: #f2f3f5;
    outline: none;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .login-input::-webkit-input-placeholder {
    color: #b4bac0;
    font-weight: 500;
  }
  .login-input::-moz-input-placeholder {
    color: #b4bac0;
    font-weight: 500;
  }
  .login-submit {
    padding: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 14px;
    background-color: rgb(130, 201, 30);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 5px 10px 0 rgba(130, 201, 30, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .login-already {
    text-align: center;
    font-size: 16px;
    color: #999;
  }
  .login-login-link {
    color: #2979ff;
    text-decoration: none;
  }